@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: "Gabarito", sans-serif;
}

h1, h2, h3 {
    font-family: "Gabarito", sans-serif;
}

@theme {
    --color-text: #ffffff;
    --color-background: #212121;
    --color-primary: #655df8;
    --color-secondary: #bfc0c0;
    --color-accent: #004ec2;
    --color-beige: #F0EBE3;
}

@layer base {
    h1 {
      @apply text-8xl leading-[44px] font-[600] text-gray-900;
    }
  }

html {
    font-size: 100%;
    background-color: white;
}